/* SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* General styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #007bff;
}

/* Navigation styling */
#nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav {
  background-color: #1098ad;
  padding: 2% 2%;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2%;
}

nav ul li {
  font-size: 10%;
}

nav ul li:nth-child(2),
nav ul li:nth-child(3) {
  width: 20%;
}

nav a {
  color: #fff;
  cursor: pointer;
  padding: 2% 3%;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

nav a:hover {
  background-color: #0f879a;
  transition: color 0.2s ease-in-out;
}

nav > ul > li:last-child {
  margin-left: auto;
}

#btn-logout {
  background-color: #1098ad;
  border: none;
  color: #fff;
  font-size: 10%;
  cursor: pointer;
  padding: 2% 3%;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

#btn-logout:hover {
  background-color: #0f879a;
}

/* Container styling */

.container {
  width: 90%;
  margin: 2% auto;
  max-width: 100%;
  background-color: #fff;
  padding: 2%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Title styling */

.title {
  font-size: 70%;
  margin-bottom: 4%;
}

table {
  width: 100%;
  margin: 2% auto;
  font-size: 10%;
  border-collapse: collapse;
}

/* Table styling */

thead,
tbody {
  background-color: #fff;
}

thead th,
tbody td {
  border: 1px solid #ccc;
  padding: 1%;
  text-align: center;
}

thead th {
  background-color: #1098ad;
  color: #fff;
  font-size: 10%;
  font-weight: 400;
}
thead th:first-child {
  width: 7%;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Button styling */
button {
  background-color: #339af0;
  color: #fff;
  padding: 2% 4%;
  font-size: 10%;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  width: fit-content;
  height: auto;
}

button:hover {
  background-color: #0d6efd;
}

.delete-button {
  background-color: #fa5252;
}
.delete-button:hover {
  background-color: #e03131;
}

/* Error styling */
.pagination {
  margin-top: 5%;
  text-align: center;
}
.hidden {
  display: none;
}
.message {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error {
  color: #dc3545;
  background-color: #f8f1f1;
}
.success {
  color: #28a745;
  background-color: #f0f8ee;
}

@media (min-width: 769px) {
  nav {
    height: 44px;
    padding: 7px 10px;
  }
  nav ul li {
    font-size: 14px;
  }
  nav a {
    padding: 7px 10px;
  }

  nav ul li:nth-child(2),
  nav ul li:nth-child(3) {
    width: fit-content;
  }
  .container {
    margin: 50px auto;
    padding: 20px;
  }
  .title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  table {
    font-size: 14px;
  }
  thead th,
  tbody td {
    padding: 10px;
    font-size: 16px;
  }
  thead th:first-child {
    width: 4%;
  }
  #btn-logout {
    font-size: 14px;
    padding: 7px 10px;
  }
  thead th {
    font-size: 16px;
  }
  button {
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
  }
  .pagination {
    margin-top: 20px;
  }
}
