/* General styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f2f2f2;
}

/* Navigation bar */
nav {
  background-color: #1098ad;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
nav > ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}
nav li {
  font-size: 14px;
}
nav a {
  text-decoration: none;
  color: #fff;
  padding: 7px 10px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 4px;
}
nav a:hover {
  transition: color 0.2s ease-in-out;
  background-color: #0f879a;
}
nav > ul > li:last-child {
  margin-left: auto;
}
#btn-login {
  background-color: #1098ad;
  border: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  padding: 7px 10px;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}
#btn-login:hover {
  background-color: #0f879a;
}
/* Registration form container */
.container {
  width: 400px;
  max-width: 100%;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsive adjustments for the container */
@media (max-width: 768px) {
  .container {
    width: 80%;
  }
}

/* Main header */
.main-header {
  text-align: center;
  margin-bottom: 20px;
}

/* Form group styling */
.form-group {
  margin-bottom: 10px;
}

/* Responsive adjustments for form elements */
@media (min-width: 769px) {
  .form-group {
    margin-bottom: 20px;
  }
}

/* Label styling */
label {
  display: block;
  margin-bottom: 5px;
}

/* Input field styling */
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

/* Responsive adjustments for input fields */
@media (min-width: 769px) {
  input {
    padding: 12px;
  }
}

/* Button styling */
.button {
  background-color: #1098ad;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #0f879a;
}

/* Responsive adjustments for buttons */
@media (min-width: 769px) {
  .button {
    padding: 15px 30px;
  }
}

/* Message styling */
.message {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Success message styling */
.success {
  color: #28a745;
  background-color: #f0f8ee;
}

/* Error message styling */
.error {
  color: #dc3545;
  background-color: #f8f1f1;
}
