/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #343a40;
}
body {
  font-family: "Inter", sans-serif;
}
.container {
  width: 90%;
  margin: 10vh auto;
}
.main-header {
  margin-bottom: 20px;
}
select,
input {
  width: 100%;
  padding: 2px 5px;
  margin: 5px 0 10px 0;
  border-radius: 5px;
  border: 1px solid #343a40;
}
select {
  padding: 2px 2px;
}
input::placeholder,
select::placeholder {
  color: #adb5bd;
}
.button {
  width: 100%;
  margin-top: 3%;
  border: none;
  background-color: #1098ad;
  color: #fff;
  height: 20px;
  padding: 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.hidden {
  display: none;
}
.success-message,
.failure-message {
  color: #37b24d;
  font-size: 36px;
  text-align: center;
  margin-top: 50px;
  /* font-weight: bold; */
}
.failure-message {
  color: #f03e3e;
}
