/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #343a40;
}
body {
  font-family: "Inter", sans-serif;
}
header {
  height: 10%;
  width: 100%;
  background-color: #288690;
  color: #fff;
  font-size: 30px;
  padding: 20px;
}
.container {
  width: 90%;
  margin: 10vh auto;
}
.h1 {
  font-size: 30 px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2%;
}

thead {
  background-color: #1098ad;
}

th,
td {
  border: 1px solid #ccc;

  padding: 5px;
  text-align: center;
}

th {
  text-align: center;
  color: #fff;
}

tbody {
  background-color: #fff;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #eee;
}

thead > tr:hover {
  background-color: #22b8cf;
}
.pagination {
  margin: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.button,
.delete-button {
  border: none;
  background-color: #1098ad;
  color: #fff;
  width: 130px;
  height: 20px;
  padding: 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button:hover {
  border: 1px solid #1098ad;
  color: #1098ad;
  font-weight: bold;
  background-color: #fff;
  transition: 0.2s;
}
.delete-button {
  background-color: #fff;
  color: #f03e3e;
  border: 1px solid #f03e3e;
  width: 70px;
  height: 15px;
  padding: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.delete-button:hover {
  border: 1px solid #f03e3e;
  color: #f03e3e;
  font-weight: bold;
  background-color: #fff;
  transition: 0.2s;
}
#successMessage {
  display: none;
  color: #37b24d;
  font-size: 36px;
  text-align: center;
  margin-top: 50px;
}
