/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #343a40;
}

body {
  background-color: #f2f2f2;
}
.container {
  width: 400px;
  margin: 10vh auto;
  max-width: 100%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
  background-color: #1098ad;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
nav > ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}
nav li {
  font-size: 14px;
}
nav a {
  text-decoration: none;
  color: #fff;
  padding: 7px 10px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 4px;
}
nav a:hover {
  transition: color 0.2s ease-in-out;
  background-color: #0f879a;
}
nav > ul > li:last-child {
  margin-left: auto;
}
#btn-logout {
  background-color: #1098ad;
  border: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  padding: 7px 10px;
  transition: background-color 0.2s ease-in-out;
}
#btn-logout:hover {
  background-color: #0f879a;
  border-radius: 4px;
}
.main-header {
  font-size: 24px;
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 20px;
}
label {
  display: block;
  margin-bottom: 5px;
}
select,
input {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px 0;
  border: 1px solid #ccc;
}
input::placeholder,
select::placeholder {
  color: #adb5bd;
  font-size: 14px;
}
.button {
  width: 100%;
  margin-top: 3%;
  border: none;
  background-color: #1098ad;
  color: #fff;
  height: 20px;
  padding: 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.button:hover {
  border: 1px solid #1098ad;
  color: #1098ad;
  background-color: #fff;
  transition: 0.2s;
}
.btn-logout {
  width: 100px;
}

.hidden {
  display: none;
}
.success-message,
.failure-message,
.unexpected-error {
  color: #28a745;
  background-color: #f0f8ee;
  font-size: 36px;
  text-align: center;
  margin-top: 50px;
  /* font-weight: bold; */
}
.failure-message,
.unexpected-error {
  color: #dc3545;
  background-color: #f8f1f1;
}
